<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SalesForcesuite">
	<test name="SalesforceTest">
		<parameter name="browsername" value="chromedriver"></parameter>
		<classes>
			<class name="com.tests.SFDCTest"></class>
		</classes>
	
	</test>
</suite>